*  {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;

}
h1{
    font-family: 'Bangers', sans-serif;
}

h2{
    font-size: 20px;
    margin-left: 25vh;   
    margin-top: 23vh; 
}
ul, ol, li {
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
body {
    padding-top: 100px;
}

header{
    position: fixed;
    background-color: #333;
    width: 100vw;
    z-index: 1000;
}
.logo{
    display: flex;
    float: left;
    width: 75px;
    height: auto;
    padding: 10px;
}
header nav ul{
    display: flex;
    margin-left: 130VH;
    justify-content: space-between;
    padding: 16px;

}
header nav a {
    color: white;
    padding: 8px;
    transition: background-color 1s;
}
header nav a:hover{
    background-color: rgba(87, 82, 91, 0.48);
    color: black;

}
.grupo {
    height: 100vh;
}

#vermelho{
    background-image: url(./img/konoha-1279-x-718-kwldytpkkc1uo4qb-photoaidcom-darken.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
}
#verde{
    background-image: url(./img/naruto-and-neji-chunin-d8ekdhs4t7ei4x2x-photoaidcom-darken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#azul{
    background-image: url(./img/Gamabunta_vs_Shukaku-photoaidcom-darken.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#amarelo{
    background-image: url(./img/Rozstanie-photoaidcom-darken.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#roxo{
    background-image: url(./img/i-finished-nns2-naruto-vs-pain-v0-o2rg82lqn6id1-photoaidcom-darken.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.titulo1{
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 80px;
    color: #E97E13;
    
}
.titulo2{
    position: relative;
    padding: 25px;
    text-align: center;
    font-size: 150px;
    word-spacing: 150px;
    color: rgba(255, 255, 255, 0.809);

}
.titulo3{
    position: relative;
    padding: 25px;
    text-align: center;
    font-size: 150px;
    word-spacing: 150px;
    color: rgba(255, 255, 255, 0.809);
    
}
.titulo4{
    position: relative;
    padding: 25px;
    text-align: center;
    font-size: 150px;
    word-spacing: 150px;
    color: rgba(255, 255, 255, 0.809);
}
.titulo5{
    position: relative;
    padding: 25px;
    text-align: center;
    font-size: 150px;
    word-spacing: 150px;
    color: rgba(255, 255, 255, 0.809);
}
.texto1{
    position: relative;
    padding: 80px;
    top: 300px;
    text-align: center;
    font-size: 40px;
    color: #E97E13;
}
.texto2{
    position: relative;
    padding: 80px;
    top: 400px;
    text-align: left;
    font-size: 40px;
    color: white;
}
.texto3{
    position: relative;
    padding: 80px;
    top: 400px;
    text-align: left;
    font-size: 40px;
    color: white;
}
.texto4{
    position: relative;
    padding: 80px;
    top: 400px;
    text-align: left;
    font-size: 40px;
    color: white;
}
.texto5{
    position: relative;
    padding: 60px;
    top: 400px;
    text-align: left;
    font-size: 40px;
    color: white;
}
